* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/font/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/font/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 600;
  src: url(../assets/font/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 800;
  src: url(../assets/font/Roboto/Roboto-Bold.ttf);
}

body {
  font-family: 'Roboto';
  letter-spacing: 1px;
}

a, a:visited, a:hover {
  text-decoration: none;
}

//visibility


// .hide-for-mobile {
// @include breakpoint-down(medium){
//   display: none;
// }


// }
// .hide-for-desktop {
//    @include breakpoint-up(large){
//      display: none;
//    } 
// }

