$blue-color: #1e266d;
$greyHamburger:rgba(30, 38, 109, 0.4);
$pink-color: #ff2e6a;
$button-pink: #ef5480;
$gray-title: #19191d;
$background-purple: #3a3d56;
$lightgrey: #f0f0f3;
$pink-link: #ff8aac;
$pink-subscribe:#c09da7;
